<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.recruitment.persistence.mapper.CompanyMapper">
    <resultMap id="company" type="com.web.recruitment.persistence.dto.Company">
        <result column="ID" property="id"/>
        <result column="CODE" property="code"/>
        <result column="COMPANY_NM" property="name"/>
        <result column="AVATAR" property="avatar"/>
        <result column="BANNER" property="banner"/>
        <result column="WEBSITE" property="website"/>
        <result column="PHONE" property="phone"/>
        <result column="EMAIL" property="email"/>
        <result column="DESCRIPTION" property="description"/>
        <result column="SKILLS" property="skills"/>
        <result column="STATUS" property="status"/>
        <result column="DEL_YN" property="delYn"/>
        <result column="CREATE_AT" property="createAt"/>
        <result column="UPDATE_AT" property="updateAt"/>
    </resultMap>
    <resultMap id="companyInformation" type="com.web.recruitment.api.dto.company.CompanyInformation">
        <result column="ID" property="id"/>
        <result column="CODE" property="code"/>
        <result column="COMPANY_NM" property="name"/>
        <result column="AVATAR" property="avatar"/>
        <result column="BANNER" property="banner"/>
        <result column="WEBSITE" property="website"/>
        <result column="PHONE" property="phone"/>
        <result column="EMAIL" property="email"/>
        <result column="DESCRIPTION" property="description"/>
        <result column="SKILLS" property="skills"/>
    </resultMap>
    <sql id="select_company">
        SELECT *
        FROM COMPANIES_TB
    </sql>
    <sql id="update_company">
        UPDATE
        COMPANIES_TB
        SET CODE = #{code}
            , COMPANY_NM = BINARY#{name}
            , AVATAR = #{avatar}
            , BANNER = #{banner}
            , WEBSITE = #{website}
            , PHONE = #{phone}
            , EMAIL = #{email}
            , DESCRIPTION = #{description}
            , SKILLS = #{skills}
            , UPDATE_AT = NOW()
    </sql>
    <sql id="delete_company">
        UPDATE
        COMPANIES_TB
        SET DEL_YN = 1
            , UPDATE_AT = NOW()
    </sql>
    <select id="list_company" resultMap="company" parameterType="map">
        <include refid="select_company"></include>
        WHERE DEL_YN = 0
        ORDER BY CREATE_DT DESC
    </select>
    <select id="select" resultMap="company" parameterType="map">
        <include refid="select_company"></include>
        WHERE ID = #{id}
        AND DEL_YN = 0
<!--            AND STATUS = 1-->
    </select>
    <!-- list phân trang-->
    <select id="list" resultMap="companyInformation" parameterType="map">
        <include refid="select_company"></include>
        WHERE DEL_YN = 0
<!--            AND STATUS = 1-->
        <if test="keyword != null">
            AND COMPANY_NM LIKE CONCAT("%", #{keyword}, "%")
        </if>
        ORDER BY
        <if test="sortBy == 'time'">
            CREATE_AT
        </if>
        <if test="sortBy == 'name'">
            COMPANY_NM
        </if>
        <if test="sortType == 'asc'">
            ASC
        </if>
        <if test="sortType == 'desc'">
            DESC
        </if>
        LIMIT #{limit} OFFSET #{offset}
    </select>
    <select id="total" resultType="int" parameterType="map">
        SELECT COUNT(ID)
        FROM COMPANIES_TB
        WHERE DEL_YN = 0
<!--            AND STATUS = 1-->
        <if test="keyword != null">
            AND COMPANY_NM LIKE CONCAT("%", #{keyword}, "%")
            OR CODE LIKE CONCAT("%", #{code}, "%")
        </if>
    </select>
    <insert id="insert" parameterType="com.web.recruitment.api.dto.company.CompanyInsert" keyColumn="id"
            keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO
            COMPANIES_TB
            (
                CODE
                , COMPANY_NM
                , AVATAR
                , BANNER
                , WEBSITE
                , PHONE
                , EMAIL
                , DESCRIPTION
                , SKILLS
                , STATUS
                , DEL_YN
                , CREATE_AT
                , UPDATE_AT
                )
            VALUES
            (
                #{code}
                , BINARY#{name}
                , #{avatar}
                , #{banner}
                , #{website}
                , #{phone}
                , #{email}
                , #{description}
                , #{skills}
                , 0
                , 0
                , NOW()
                , NOW()
            )
    </insert>

    <select id="selectByName" resultType="int" parameterType="map">
        SELECT COUNT(ID)
        FROM COMPANIES_TB
        WHERE COMPANY_NM = BINARY#{name}
            AND DEL_YN = 0
<!--            AND STATUS = 1-->
    </select>
    <update id="update" parameterType="com.web.recruitment.api.dto.company.CompanyUpdate" keyColumn="id"
            keyProperty="id"
            useGeneratedKeys="true">
        <include refid="update_company"></include>
        WHERE ID = #{id}
            AND DEL_YN = 0
<!--            AND STATUS = 1-->
    </update>
    <delete id="delete" parameterType="int">
        <include refid="delete_company"></include>
        WHERE ID = #{id}
            AND DEL_YN = 0
<!--            AND STATUS = 1-->
    </delete>
    <update id="deleteChoice" parameterType="java.util.List">
        UPDATE
        COMPANIES_TB
        SET DEL_YN = 1
        WHERE DEL_YN = 0
<!--            AND STATUS = 1-->
            AND ID IN
        <foreach item="listId" index="index" collection="list" open="(" separator="," close=")">#{listId}</foreach>
    </update>
    <select id="selectCompanyByCode" resultType="int" parameterType="map">
        SELECT COUNT(ID)
        FROM COMPANIES_TB
        WHERE CODE = #{code}
            AND DEL_YN = 0
<!--            AND STATUS = 1-->
    </select>
    <select id="selectCompanyByWebsite" resultType="int" parameterType="map">
        SELECT COUNT(ID)
        FROM COMPANIES_TB
        WHERE WEBSITE = #{website}
            AND DEL_YN = 0
<!--            AND STATUS = 1-->
    </select>


</mapper>