<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.recruitment.persistence.mapper.DepartmentMapper">
    <resultMap id="department" type="com.web.recruitment.persistence.dto.Department">
        <result column="ID" property="id"/>
        <result column="DEPARTMENT_NM" property="name"/>
        <result column="DESCRIPTION" property="description"/>
        <result column="DEL_YN" property="delYn"/>
        <result column="CREATE_AT" property="createAt"/>
        <result column="UPDATE_AT" property="updateAt"/>
    </resultMap>

    <sql id="select_department">
        SELECT *
        FROM DEPARTMENT_TB
    </sql>
    <select id="list_department" resultMap="department" parameterType="map">
        <include refid="select_department"></include>
        WHERE DEL_YN = 0
        ORDER BY CREATE_DT DESC
    </select>
    <select id="select" resultMap="department" parameterType="map">
        <include refid="select_department"></include>
        WHERE ID = #{id}
            AND DEL_YN = 0
    </select>
    <!-- list phân trang-->
    <select id="list" resultMap="department" parameterMap="map">
        <include refid="select_department"></include>
        WHERE DEL_YN = 0
        ORDER BY
        <if test="sortBy == 'createAT'">
            CREATE_AT
        </if>
        <if test="sortBy == 'name'">
            NAME
        </if>
    </select>

</mapper>